body{background-color:#FFEE8C}
h1{text-align: center;
    color:brown;
   font-family: cursive;
   }
.myClass {
    padding: 30px 15px;
    margin-bottom: 300px;
    background-color: #FFEE8C;
    max-height: 100%;
    max-width: 100%;
}
.myClass h1 {
    text-align: center;
    color:brown;
    font-family: cursive;
}
